$background-color: aqua;

// $lendosTitleColor: #0052ebbd;
// $lendosNameColor: #eb0800bd;
// $lendosBcgColor: rgba(255, 255, 255, 0.55);

$bcg-cl-btn: #89d37f;
$hover-bgd-cl: #e45447;
$font-cl-active: rgb(136, 12, 12);

$bcg-cl-gradient-first: #e0d017;
$bcg-cl-gradient-second: #d63f3c;

$back-color: #f7dc79bd;
$outline-color: #00bfff;
$back-emphasis-color: #ff897d;
$emphasis-text: rgb(130, 62, 161);
$button-active: #6495ed;
