@import 'styles/shared.scss';

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
}

p {
  margin-top: 0;
}
body {
  // background: linear-gradient(to bottom, #c6ffdd, #fbd786, #f7797d);
  background: linear-gradient(to top, #c6ffdd, #fbd786, #f7797d);
}
body {
  margin: 0;
  padding: 20px;
  background-color: #fff;
  color: rgb(130, 62, 161);
  line-height: 1.3;
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-size: 30px;
  color: rgb(98, 96, 211);
}

p {
  margin-top: 0;
}
